name: "Gradle Build"
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  GradleBuild:
    name: "Validation"
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Validate Gradle wrapper
        uses: gradle/wrapper-validation-action@v1
      - name: Make Wrapper executable
        run: chmod +x gradlew
      - name: Build with Gradle
        uses: gradle/gradle-build-action@v2
        with:
          arguments: build
      - name: Unit Test
        uses: gradle/gradle-build-action@v2
        with:
          arguments: test
      - name: Run Code Coverage
        run: |
          gradle testCoverage
